<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  {{#if refresh}}
  <meta http-equiv="refresh" content="3600">
  {{/if}}
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <div id="content">
    {{{body}}}
  </div>
  {{#if shortcuts}}
  <script>
    document.addEventListener("keypress", keyCapt, false);
    function keyCapt (e) {
      console.log(e.keyCode);
      if (e.keyCode === 104) { // h
        window.location = '/';
      } else if (e.keyCode === 116) { // t
        window.location = '/tags';
      }
    }
  </script>
  {{/if}}
</body>
</html>
