<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  {{#if refresh}}
  <meta http-equiv="refresh" content="86400">
  {{/if}}
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <div id="content">
    {{{body}}}
  </div>
</body>
</html>
