body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0;
  background: #335;
  color: #333;
  position: absolute;
  height: 100%;
  width: 100%;
}

#content {
  height: 100%;
}

#title {
  min-height: 18px;
  text-align: center;
  font-size: 16px;
  color: #e2e2e2;
  font-weight: 400;
  padding: 5px;
}

#title:hover {
  color: #ccc;
}

#toc {
  position: fixed;
  background: #999;
  margin: 0;
  padding: 0;
  border: 0;
}

option {
  background: #444 !important;
}

option:checked {
  background: #444 !important;
}

option:not(:checked) {
  background: #444 !important;
}

#viewer {
  height: 100%;
}

#viewer.spreads {
/*  width: 80%; */
  height: 90%;
  box-shadow: 0 0 4px #ccc;
  border-radius: 5px;
  padding: 0;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background: #eee url('/img/loader.gif') center center no-repeat;
/*  top: calc(50vh - 300px); */
  z-index: 2;
}

#viewer.spreads .epub-view > iframe {
  background: #eee;
}

#viewer.scrolled {
  overflow: hidden;
  width: 800px;
  margin: 0 auto;
  position: relative;
  background: #eee url('/img/loader.gif') center center no-repeat;
}

#viewer.scrolled .epub-container {
  background: #eee;
  box-shadow: 0 0 4px #ccc;
  margin: 10px;
  padding: 20px;
}

#viewer.scrolled .epub-view > iframe {
  background: #eee;
}

#prev {
  left: 0;
}

#next {
  right: 0;
}

@media (min-width: 1000px) {
  #viewer.spreads:after {
    position: absolute;
    width: 1px;
    border-right: 1px #000 solid;
    height: 90%;
    z-index: 1;
    left: 50%;
    margin-left: -1px;
    top: 5%;
    opacity: .15;
    box-shadow: -2px 0 15px rgba(0, 0, 0, 1);
    content: "";
  }

  #viewer.spreads.single:after {
    display: none;
  }

  .arrow {
    position: fixed;
    top: 45%;
    font-size: 64px;
    color: #ccc;
    font-family: arial, sans-serif;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
    text-decoration: none;
    z-index: 2;
  }
}

img.cover {
  height: 210px;
  width: 140px;
  display: block;
}

div.title {
  font-size: 12px;
  color: white;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

div.author {
  font-size: 12px;
  color: lightgray;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

div.book {
  display: inline-block;
  margin: 1em;
  width: 140px;
  vertical-align: top;
}

div.book a {
  text-decoration: none;
  display: block;
}

#books {
  background-color: #445;
}


